

<table class="center">
<tr> <td> <div class="fontsoft"> Usaras el comedor este ciclo?</div> </td> </tr>
<tr> <td>Si</td>      <td> <%= radio_button_tag 'food', 'Yes' %> </td> </tr> 
<tr> <td>No</td>      <td> <%= radio_button_tag 'food', 'No' %> </td> </tr> 
<tr> <td>Especial</td>      <td> <%= radio_button_tag 'food', 'Special' %> </td> </tr> 
<tr>  <td><div align="center"> <%= submit_tag 'Ver Menu' %> <%= submit_tag 'Confirmar' %></div> </td> </tr>
</table>








