<%= form_with(model: @user, local: true) do |fr| %>

<table class="center">

<tr><td>
<%= fr.label :Quieres_contar_con_el_servicio_del_comedor?%>
</td> </tr>

<tr> <td>
<%= fr.label :Si %> <%= fr.radio_button :foodreq, 'si' %>
</td> </tr>

<tr> <td>
<%= fr.label :No %> <%= fr.radio_button :foodreq, 'no' %>
</td> </tr>

<tr> <td>
<%= fr.label :Especial %> <%= fr.radio_button :foodreq, 'especial' %>
</td> </tr>

<tr> <td>
<%= fr.submit 'Aceptar' %>
</td> </tr>

</table>
<% end %>