<%= form_with(model: @user, local: true) do |fr| %>

<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>

<div class="container">
<p class="title">Solicitud de comedor</p>
</div>
<div align="center"><h5>¿Quieres contar con el servicio del comedor este ciclo? </h5></div>
<div class="spacey"></div>

<table class="center">


<tr> <td>
<%= fr.radio_button :foodreq, 'si' %><%= fr.label :Si %> 
</td> </tr>

<tr> <td>
<%= fr.radio_button :foodreq, 'no' %><%= fr.label :No %> 
</td> </tr>

<tr> <td>
<%= fr.radio_button :foodreq, 'especial' %><%= fr.label :Especial %> 
</td> </tr>

<tr> <td align="center">

</td> </tr>

</table>
    <div class="spacey"></div>
    <div class="container">
    <%= fr.submit 'Aceptar', class:'btn btn-lg btn-block' %>
    </div>
    <div class="spacey"></div>
<% end %>