<%= form_with(model: @user, local: true) do |fr| %>

<table class="center">

<tr><td>
<h4> ¿Quieres contar con el servicio del comedor? </h4>
</td> </tr>

<tr> <td>
<%= fr.radio_button :foodreq, 'si' %><%= fr.label :Si %> 
</td> </tr>

<tr> <td>
<%= fr.radio_button :foodreq, 'no' %><%= fr.label :No %> 
</td> </tr>

<tr> <td>
<%= fr.radio_button :foodreq, 'especial' %><%= fr.label :Especial %> 
</td> </tr>

<tr> <td align="center">
<%= fr.submit 'Aceptar', class:'btn' %>
</td> </tr>

</table>
<% end %>