<div align="center">
<p id="alert"><%= alert %></p>
<h1 class="">Iniciar Sesión</h1>
<%= form_tag sessions_path do |form| %>

    <div align="center">
    <table class="table">

    <tr><td>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    </td></tr>

    <tr><td>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    </td></tr>
    
    <tr><td>
    
    <%= submit_tag "Acceder" ,class: 'btn' %>
    </td></tr>
    </table>
    </div>

<% end %>