<div align="center">
<h2 align="center">Nueva Contraseña</h2>


<%= form_with(model: @user, local: false) do |f| %>

<table class = "signup">

    <tr>
    <td><%= f.label :Contraseña %></td>
    <td><%= f.password_field :password, class:"curvedfield" %></td>
    <td></td>
    </tr>

    <tr>
    <td><%= f.label :Contraseña %></td>
    <td><%= f.password_field :password_confirmation, class:"curvedfield" %></td>
    <td></td>
    </tr>

    <tr>
    <td></td>
    <td> <div class="spacey"> <div align="center"> <%= f.submit 'Crear', class:'btn' %> </div> </div> </td>
    <td></td>
    </tr>

    </table>
<% end %>
</div>
