<div align="center">

<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>

<div class="container">
<p class="title">Registrarse</p>
</div>
<div class="spacey"></div>

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      

      

      <ul>
   
      </ul>
    </div>
  <% end %>






    <table class = "form">

    <tr>
    <td>Email</td>
    
    <td>
    <%= form.text_field :email, class:"curvedfield",
    class:"emailstyle", value: "@skydropx.com"%>
    </td>
    <td></td>
    </tr>
  
    <tr>
    <td>Nombre</td>
    <td><%= form.text_field :name ,class:"curvedfield" %></td>
    <td></td>
    </tr>
  
    <tr>
    <td>Contraseña</td>
    <td><%= form.password_field :password, class:"curvedfield" %></td>
    <td></td>
    </tr>

    <tr>
    <td>Contraseña</td>
    <td><%= form.password_field :password_confirmation, class:"curvedfield" %></td>
    <td></td>
    </tr>



    </table>
    <div class="spacey"></div>
    <div class="container">
    <%= submit_tag "Crear" ,class: 'btn btn-lg btn-block' %>
    </div>
    <div class="spacey"></div>

<% end %>
</div>