<div align="center">
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




    <table class = "signup">

    <tr>
    <td><%= form.label :email %></td>
    <td><%= form.text_field :email, class:"curvedfield" %></td>
    <td></td>
    </tr>
  

    <tr>
    <td><%= form.label :name %></td>
    <td><%= form.text_field :name ,class:"curvedfield" %></td>
    <td></td>
    </tr>
  

    <tr>
    <td><%= form.label :Pass %></td>
    <td><%= form.password_field :password, class:"curvedfield" %></td>
    <td></td>
    </tr>

    <tr>
    <td><%= form.label :RePass %></td>
    <td><%= form.password_field :password_confirmation, class:"curvedfield" %></td>
    <td></td>
    </tr>

    <tr>
    <td></td>
    <td> <div class="spacey"> <div align="center"> <%= form.submit 'Crear', class:'btn' %> </div> </div> </td>
    <td></td>
    </tr>


    </table>
  
<% end %>
</div>