<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>

<div class="container">
<p class="title">Editar</p>
</div>
<div class="spacey"></div>

<% if current_user && current_user.admin == true  %>



<div align="center">

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      

      

      <ul>
   
      </ul>
    </div>
  <% end %>






    <table class = "form">

    <tr>
    <td>Email</td>
    <td>
    <%= form.text_field :email, class:"curvedfield" %>
    </td>
    <td></td>
    </tr>
  
    <tr>
    <td>Nombre</td>
    <td><%= form.text_field :name ,class:"curvedfield" %></td>
    <td></td>
    </tr>
  
    <tr>
    <td>Contraseña</td>
    <td><%= form.password_field :password, class:"curvedfield" %></td>
    <td></td>
    </tr>

    <tr>
    <td>Contraseña</td>
    <td><%= form.password_field :password_confirmation, class:"curvedfield" %></td>
    <td></td>
    </tr>

    <tr>
    <td>Administrador</td>
    <td><%= form.radio_button :admin, true %>Si <span class="space"></span>
    <%= form.radio_button :admin, false %>No</td>
    </tr>

    </table>

    <div class="spacey"></div>
    <div class="container">
    <%= submit_tag "Modificar" ,class: 'btn btn-lg btn-block' %>
    </div>
    <div class="spacey"></div>

<% end %>
</div>







<div align = "center">
<%= link_to 'Show', @user, class:'btn' %> |
<%= link_to 'Back', users_path, class:'btn' %>
</div>

<% else %>

<div class="alert alert-info" role="alert">
No tienes permiso para ver este contenido
</div>

<% end %>