<p id="notice"><%= notice %></p>

<h2>Usuarios</h2>

<table class="center">
  <thead>
    <tr>
      <th>Email</th>   <th>Comedor</th> 
      <th colspan="3"></th>
    </tr>
  </thead>

 

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.foodreq %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>



<% @users.each do |user| %>
<table align= "center">
<tr>  <td>_________</td> <td>_________</td> <td>_________</td> </tr> 
<tr>  <td>ID</td> <td>Email</td> <td>Comedor</td> </tr> 
<tr>  <td><%=user.id%></td> <td><%=user.email%></td> <td><%=user.foodreq%></td> </tr> 
</table>
<% end %>