<p id="notice"><%= notice %></p>


<% if current_user && current_user.admin == true  %>



<div class="spacey"></div>
<div class="spacey"></div>

<div class="container">
<p class="title">Usuarios</p>
</div>
<div class="spacey"></div>




<table class= "table-striped"> 
<tr>
<td> <strong>ID</strong> </td>
<td> <strong>Email</strong> </td>
<td> <strong>Nombre</strong> </td>
<td> <strong>Comedor</strong> </td>
</tr>

<% @users.each do |user| %>





<tr>
<td><%=link_to user.id, user%></td>
<td><%=user.email%></td> 
<td><%=user.name.capitalize %></td>
<td><%=user.foodreq%></td>
</tr> 

<% end %>
</table>

<div class = "spacey">
<div class = "spacey">

<table align="center">
<tr>

<td> <div align="center"> <%= link_to 'Crear Usuario', new_user_path, class:'btn' %> </div> </td>
<td> <div class="space"> </td>
<td> <div align="center"> <a class="btn" href="users.xls">Descargar</a>  </td>

</tr>
</table>

 <% else %>
 
<div class="alert alert-info" role="alert">
<h3 align="center">No tienes permiso para ver este contenido</h3>
</div>

 <% end %>

<div>
<%= form_with(model: @upload, local: false) do |f| %>
<%= f.file_field  :file%>
<%= f.submit 'enviar' %>
<% end %>
</div>