<p id="notice"><%= notice %></p>

<% if current_user && current_user.admin == true  %>

<div class="spacey"></div>
<div class="spacey"></div>

<div class="container">
<p class="title">Usuarios</p>
</div>
<div class="spacey"></div>


<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>

<table class= "table-striped"> 
<tr>
<td> <strong>ID</strong> </td>
<td> <strong>Email</strong> </td>
<td> <strong>Nombre</strong> </td>
<td> <strong>Comedor</strong> </td>
</tr>

<% @users.each do |user| %>

<tr>
<td><%=link_to user.id, user%></td>
<td><%=user.email%></td> 
<td><%=user.name.capitalize %></td>
<td><%=user.foodreq%></td>
</tr> 

<% end %>
</table>

<div class = "spacey">
<div class = "spacey">
<table align="center">
<tr>
<td> <div align="center"> <%= link_to 'Crear Usuario', new_user_path, class:'btn btn-warning active' %> </div> </td>
<td> <div class="space"> </td>
<td> <div align="center"> <a class="btn btn-warning active" href="users.xls">Descargar lista</a>  </td>
<td> <div class="space"> </td>
<td>
      <div class="btn-group  dropleft">
      <button class="btn dropdown-toggle btn-warning active" 
      type="button" data-toggle="dropdown">Solicitudes de comedor
      <span class="caret"></span></button >
      <ul class="dropdown-menu pull-right">
      <li><%= link_to 'Abrir Solicitudes de Comedor', users_openfr_path,
        method: :post,data: { confirm: 'Confirmar acción' } %> </li>
      <li><%= link_to 'Cerrar Solicitudes de Comedor', users_closefr_path,
        method: :post,data: { confirm: 'Confirmar acción' } %> </li>
      <li><%= link_to 'Reiniciar solicitudes', users_foodreqreset_path,
        method: :post,data: { confirm: 'Confirmar acción' } %>
      </ul>
      </div>
</td>
</tr>
</table>

<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>


 <% else %>
 
<div class="alert alert-info" role="alert">
<h3 align="center">No tienes permiso para ver este contenido</h3>
</div>

 <% end %>

