

<div align ="center">
<% if current_user && current_user.admin == true  %>

<table class="table-striped; form">
  <tr>
  <td>ID:</td>
  <td><%= @user.id %></td>
  </tr>
  <tr>
  <td>Email:</td>
  <td><%= @user.email%></td>
  </tr>
  <td>Nombre:</td>
  <td><%= @user.name %></td>
  <tr>
  <td>Comedor:</td>
  <td><%= @user.foodreq %></td>
  </tr>
</table>



<%= link_to 'Editar', edit_user_path(@user), class:'btn' %> |
<%= link_to 'Volver', users_path, class:'btn' %>|
<td><%= link_to 'Eliminar', @user, method: :delete, data: { confirm: 'Confirmar acción' }, class:'btn' %></td>


<% else %>

<% end %>
</div>
