<!DOCTYPE html>
<html>
  <head>
    <title>Srenvio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <div class="navbar">
  <table>

    <%# <td> <%= image_tag("srenviologo.svg", :alt => "") %>  
   <td> <div class="divlogo"> <%= link_to image_tag('srenviologo.svg'), root_path %> <a href="home"> </div> </td> 

   <td class="spaces"> </td>
   <td class="spacel"> </td>
   <td class="spacel"> </td>
   <td class="spacel"> </td>
   

  <td> <div class="navel">  <% if current_user %> </div>
  Bienvenid@   <%= current_user.email %>. 
  <%= link_to "Salir", logout_path %> </td> 


<% else %>
  <td> <%= link_to "Registrate", signup_path %> </td>
  <td><div class="space"> </div> </td>
 <td> <%= link_to "Inicia Sesión", login_path %> </td>
<% end %>

  </table>
  </div>


    <%= yield %>
  </body>
</html>
