<!DOCTYPE html>
<html>
  <head>
    <title>Srenvio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar">
  
<table class="tnav"><tr>

<td>  <%= link_to image_tag('srenviologo.svg'), root_path %> </td>


  
<td align="right">
<div class="nelement">
  <%= link_to "Comedor", dinning_path %> 
  <%= link_to "Registrate", signup_path %> 
   
  </div>
<td>

<td align="right">   <div class="nelement">
  <% if current_user %> 
  Bienvenid@   <%= current_user.email %>!
  <%= link_to "Salir", logout_path %> 
  <% else %>
<%= link_to "Inicia Sesión", login_path %> 
  <% end %>
  </div>
</td>


  </tr></table>
</div>


    <%= yield %>
  </body>
  <table>
  <tr> <td>  1  </td> </tr>

  <tr> <td> 2  </td> </tr>



  </table>
</html>
